#map {
    height: 761px;
    width: 100%;
    border: 1px solid black;
}

#displayed_if_not_connected {
    display: none;
}

#bodyContent {
    text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-size {
    width: 200px;
    max-height: 330px;
}

.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media all and (max-width: 500px) {
    .firstHeading {
        font-size: 2em;
    }

    .container-size{
        width: auto;
    }
}


.customMarker {
  position: absolute;
  cursor: pointer;
  background: #424242;
  width: 60px;
  height: 60px;
  /* -width/2 */
  margin-left: -50px;
  /* -height + arrow */
  margin-top: -110px;
  border-radius: 50%;
  padding: 0px;
}

.customMarker:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 20px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #424242 transparent;
  display: block;
  width: 0;
}

.customMarker img {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
}
