.img-thumbnail, .card-img-top {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
}

.img-fluid {
    width:40px;
    height:40px;
    bottom:1px;
    left:2px;
    border-radius:50%;
}

.index-images {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.create-image-margin-l {
    margin-left: 5px;
}

.img-show-message {
    margin-right: 10px;
}
